        
<div class="page-bar">
                             <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a  >Operational Dashboard</a>
                                </li>
                            </ul>
 
 </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                      
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->

                        <div class="row"   ng-controller="OperationalDashboardController">
                        	     
                        <div class="col-md-12">
                       	     <div class="row">
		         		 			<div class="col-md-12" >
		         						<h1 class="page-title" style='color:#c14067'>
		                        		   <i class="icon-users" style='color:#c14067'></i> Operational Dashboard
		                        		</h1>
		                  			</div>
 	       					 </div>	
 	        			</div>
 	        			
 	        			
 	        			
 	        			</div>
 	        			
 	        				 
                        <div class="row">
                            <div class="col-lg-6 col-xs-12 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span class="caption-subject bold uppercase font-dark">Job EL</span>
<!--                                             <span class="caption-helper">distance stats...</span>
 -->                                        </div>
                                       
                                    </div>
                                    <div class="portlet-body">
          <table class="table table-striped table-bordered table-hover table-checkable order-column sample"  id="sample" >
                    <thead id="jobelthead">
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                     <span></span>
                                </label>
                            </th>
                            <th> Data </th>
                             
                             
                        </tr>
                    </thead>
                    <tbody id="jobeltbody">
                         <tr class="odd gradeX">
                            <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                     <span></span>
                                </label>
                            </td>
                            <td> No Data </td>
                             
                        </tr>  
                          
                    </tbody  >
                </table>
                                    </div>
                                </div>
                            </div>
           <div class="col-lg-6 col-xs-12 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption ">
                                            <span class="caption-subject font-dark bold uppercase">Job ML</span>
<!--                                             <span class="caption-helper">distance stats...</span>
 -->                                        </div>
                                                                           </div>
                                    <div class="portlet-body">
             <table class="table table-striped table-bordered table-hover table-checkable order-column sample"  id="sample2" >
                    <thead id="jobml1thead">
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                     <span></span>
                                </label>
                            </th>
                            <th> Data </th>
                             
                             
                        </tr>
                    </thead>
                    <tbody id="jobml1tbody">
                         <tr class="odd gradeX">
                            <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                     <span></span>
                                </label>
                            </td>
                            <td> No Data </td>
                             
                        </tr>  
                          
                    </tbody  >
                </table>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-lg-12 col-xs-12 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption ">
                                            <span class="caption-subject font-dark bold uppercase">Job ML Graph </span>
<!--                                             <span class="caption-helper">distance stats...</span>
 -->                                        </div>
                                                                           </div>
                                    <div class="portlet-body">
              							 <div id="chart_div" ></div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-lg-7 col-xs-12 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption ">
                                            <span class="caption-subject font-dark bold uppercase">Job EL Total Twitter Graph </span>
                                        </div>
                                                                           </div>
                                    <div class="portlet-body">
              							 <div id="totaltwits"  ></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-5 col-xs-12 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption ">
                                            <span class="caption-subject font-dark bold uppercase">Job EL Twitter Real Time</span>
                                        </div>
                                     
                                     </div>
                                    <div class="portlet-body">
              							   <table class="table table-striped table-bordered table-hover table-checkable order-column sample6"   id="sample6">
                    <thead  id="jobel2thead">
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="group-checkable"  />
                                    <span></span>
                                </label>
                            </th> 
                            <th> Name </th>
                            <th> Tweets </th>
                            <th> Time </th>
                            <th> Type </th>
                             <th> Result </th>
                        </tr>
                    </thead>
                    <tbody id="jobel2tbody">
                        <tr class="odd gradeX" >
                           <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>   
                             <td > 0</td>
                             <td > 10 </td>
                             <td > 1</td>
                             <td > 1</td>
                             <td> 0 </td>
                                
                          </tr>
                         
                         
                       
                    </tbody>
          </table>
          
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-12 col-xs-12 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption ">
                                            <span class="caption-subject font-dark bold uppercase">Job EL Positive , Negative Twitter Graph </span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
              							 <div id="NegPostwits" ></div>
                                    </div>
                                </div>
                            </div>
                             
                            <!-- <div class="col-lg-6 col-xs-12 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption ">
                                            <span class="caption-subject font-dark bold uppercase">Real Time Weather Predict</span>
                                     	 </div>
                                   </div>
                                    <div class="portlet-body">
              	 <table class="table table-striped table-bordered table-hover table-checkable order-column sample3"   id="sample3">
                    <thead  id="realtimeweatherhead">
                        <tr>
                             <th>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="group-checkable"  />
                                    <span></span>
                                </label>
                            </th> 
                            <th> Strom Speed </th>
                            <th> Fog </th>
                            <th> Humidity </th>
                            <th> Temp Pressure </th>
                            <th> Visiblity </th>
                            <th> Predict </th>
                        </tr>
                    </thead>
                    <tbody id="realtimeweathertbody">
                        <tr class="odd gradeX" >
                          <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>  
                             <td > 0</td>
                              <td > 10 </td>
                               <td > 1</td>
                                <td>  32</td>
                                 <td >  0 </td><td >  0 </td>
                                 
                         </tr>
                         
                         
                       
                    </tbody>
          </table>
                                    </div>
                                </div>
                            </div> -->
                            
                            
                            
                            <!--   <div class="col-lg-6 col-xs-12 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption ">
                                            <span class="caption-subject font-dark bold uppercase">Mobile Notification</span>
                                            <span class="caption-helper">distance stats...</span>
                                        </div>
                                                                           </div>
                                    <div class="portlet-body">
              							   <table class="table table-striped table-bordered table-hover table-checkable order-column sample3" id="sample4">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="group-checkable"  />
                                    <span></span>
                                </label>
                            </th>
                            <th> ID </th>
                            <th> App ID </th>
                            <th> Send Date </th>
                             <th> Status </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>
                            <td> 1 </td>
                            <td>
                                <a href="mailto:shuxer@gmail.com"> 132g12412312312 </a>
                            </td>
                             <td class="center"> 16 July 2016 </td>
                            <td>
                                <span class="label label-sm label-success"> Approved </span>
                            </td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>
                            <td> 2 </td>
                            <td>
                                <a href="mailto:looper90@gmail.com"> 132g124adsad22312 </a>
                            </td>
                             <td class="center"> 17 July 2016 </td>
                            <td>
                                <span class="label label-sm label-warning"> Suspended </span>
                            </td>
                        </tr>
                         
                       
                    </tbody>
                </table>
                                    </div>
                                </div>
                            </div>
                        </div>  
                         -->
                        
                        
         <div id="static" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        <h4 class="modal-title"> Dashboard Column Design</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4 id="error" style="color:red;"> </h4>
                                        <form  action="#" class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"  >Job EL</label>
                                                <div class="col-md-5">
                                                    <select class="bs-select form-control" data-show-subtext="true"    name="jobel"  data-size="5" required >
                                                     <option data-icon="icon-info" value="Select">Select Source</option>
                                                      </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select class="bs-select form-control" data-show-subtext="true"    name="jobelfeild"  data-size="5" required >
                                                     <option data-icon="icon-info" value="Select">Select Check Feild</option>
                                                      </select>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <label class="control-label col-md-3"  >Job ML</label>
                                                <div class="col-md-5">
                                                    <select class="bs-select form-control" data-show-subtext="true"    name="jobml1"  data-size="5" required>
                                                     <option data-icon="icon-info" value="">Select Source</option>
                                                      </select>
                                                </div>
                                                 <div class="col-md-4">
                                                    <select class="bs-select form-control" data-show-subtext="true"    name="jobml1feild"  data-size="5" required >
                                                     <option data-icon="icon-info" value="Select">Select Check Feild</option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3"  >Job ML</label>
                                                <div class="col-md-9">
                                                    <select class="bs-select form-control" data-show-subtext="true"    name="jobml2"  data-size="5" required>
                                                     <option data-icon="icon-info" value="">Select Source</option>
                                                      </select>
                                                </div>
                                                 
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3"  >Job EL Twitter</label>
                                                <div class="col-md-9">
                                                    <select class="bs-select form-control" data-show-subtext="true"    name="jobel2"  data-size="5" required>
                                                     <option data-icon="icon-info" value="">Select Source</option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3"  >Job ML Train</label>
                                                <div class="col-md-9">
                                                    <select class="bs-select form-control" data-show-subtext="true"    name="jobmltrain"  data-size="5" required>
                                                     <option data-icon="icon-info" value="">Select Source</option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3"  >Mobile Notification</label>
                                                <div class="col-md-9">
                                                    <select class="bs-select form-control" data-show-subtext="true"    name="jobml3"  data-size="5" required>
                                                     <option data-icon="icon-info" value="">Select Source</option>
                                                      </select>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                       <!--  <button class="btn grey-salsa btn-outline" data-dismiss="modal" aria-hidden="true">Close</button> -->
                                        <button type="button" class="btn blue start" ng-click="complete()" > <span> Done  </span> </button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                  
 

     
 